// =================================================================
// Variables
// =================================================================
$brand-color: #03B7B2
$submit-color: #03B5B5
$background-img: "../images/landing-bg.jpg"
$font-aven-bold: AvenirNext-DemiBold
$font-aven-reg: AvenirNext-Regular


// =================================================================
// Bootstrap Navbar Styles
// =================================================================
.navbar
  font-family: $font-aven-bold
  padding-top: 30px


.navbar-brand
  color: $brand-color
  font-size: 3.0em
  font-style: bold
  padding-left: 0px
  margin-left: 0px
  text-shadow: none


.navbar .navbar-toggle .icon-bar
  background-color: black

.navbar-nav li a
  color: $brand-color
  font-size: 1.9em
  padding-left: 100px
  text-shadow: none

.navbar-nav a:hover
	color: white

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus
  background-color: transparent

#logo
    height: 35px
    margin-top: 10px

// =================================================================
// Background Image
// =================================================================
#main-img
  background: url($background-img) center center
  min-height: 75vh
  width: 100%
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover

// =================================================================
// Jumbotron
// =================================================================
.jumbotron
  background-color: transparent

#intro
  color: white
  margin-top: 150px


#tag-line-1
    font-size: 4.0em
    font-family: $font-aven-bold

#tag-line-2
    font-size: 1.7em
    font-family: $font-aven-reg


// =================================================================
// Form
// =================================================================
.form-inline input.form-control
    margin-top: 75px
    margin-left: -7px
    border: none
    height: 60px
    font-size: 1.3em
    width: 170px


.btn-round-lg
    border-radius: 22.5px
    margin-top: 75px
    background-color: $submit-color
    color: white
    width: 200px
    font-family: $font-aven-reg
    font-size: 1.2em

// =================================================================
// Activities
// =================================================================

.section-title
    font-size: 2.8em
    font-family: $font-aven-bold

// =================================================================
// Footer
// =================================================================
hr
    border-color: black
    border-width: 1px

#footer-logo img
    display: inline
    height: 70px
    position: relative
    top: -15px

#footer-logo p
    display: inline
    margin-left: 50px
    font-size: 3.0em
    font-family: $font-aven-bold

footer

    background-color: $submit-color

.footer-like-line
    margin-top: 40px



.footer-links
    margin-top: 20px
    display: inline
    color: white
    margin-left: 50px
    font-family: $font-aven-reg
    font-size: 1.5em

#copyright
    position: relative


.icon-line
    font-family: $font-aven-reg
    font-size: 1.0em
    color: white
    display: inline

.fa
    font-size: 50px
    margin-left: 40px

.fa.fa-facebook

    font-size: 50px

.fa.fa-twitter
    font-size: 50px


.fa.fa-instagram
    font-size: 50px


.fa.fa-medium
    font-size: 50px


.fa.fa-pinterest-p
    font-size: 50px
